@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$brown: #795548;
$dark-brown-1: #6d4c41;
$dark-brown-2: #5d4037;
$dark-brown-3: #4e342e;
$dark-brown-4: #3e2723;
$light-brown-1: #8d6e63;
$light-brown-2: #a1887f;

$brown-1: #ece0d1;
$brown-2: #dbc1ac;
$brown-3: #967259;
$brown-4: #634832;
$brown-5: #38220f;

$pacifico: 'Pacifico';
